body{
    background-image: url("../IMG/fondo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.title {
    font-family: "Press Start 2P", cursive;
    -webkit-text-stroke: 0.5px white;
    text-align: center;
    width: 100%;
    font-size: 45px;
    top: 300px;
}