/*CSS Nivel 1*/
body{
    background-image: url("../IMG/fondo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#contenedor {
    text-align: center;
    position: relative;
    width: 1350px;
    height: 635px;
    border: 1px solid white;
}
/**/

#personaje1{
    text-align: center;
    position: absolute;
    top: 320px;
    left: 500px;
}
#personaje1 img{
    width: 140px;
    height: 280px;
}

#personaje2{
    text-align: center;
    position: absolute;
    top: 320px;
    left: 800px;
}
#personaje2 img{
    width: 140px;
    height: 280px;
}