/*CSS Inicio*/
body{
  background-image: url("../IMG/fondo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.titulo-inicio {
    font-family: "Press Start 2P", cursive;
    -webkit-text-stroke: 0.5px white;
    text-align: center;
    width: 100%;
    font-size: 45px;
    top: 300px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: black;
}
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin: 0;
  }

  .grupo-botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .boton-container {
    display: flex;
    flex-direction: column;
  }

  .boton {
    color: black;
    font-family: "Press Start 2P", cursive;
    text-shadow: white;
    -webkit-text-stroke: 0.5px white;
    width: 150px;
    height: 50px;
    margin: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
  }