/*CSS Creditos*/

  .titulo-creditos{
    font-family: "Press Start 2P", cursive;
    -webkit-text-stroke: 0.5px white;
    text-align: center;
    width: 100%;
    font-size: 40px;
}
  .creditos {
    position: relative;
    top: 100%;
    animation: AnimacionCreditos 15s linear normal;
  }
  .contenido-creditos{
    font-family: "Press Start 2P", cursive;
    -webkit-text-stroke: 0.5px white;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
  .credito {
    text-align: center;
  }
  @keyframes AnimacionCreditos {
    0% {
      top: 100%; /* Comienzan debajo de la pantalla */
    }
    100% {
      top: -60%; /* Se detienen en la parte superior de la pantalla */
    }
  }