body {
    background-color: orange;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.link-inicio {
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    background: black;
    border-radius: 5px;
}